@model BumbleBeeFoundation.Models.Donation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Donation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DonationDate" class="control-label"></label>
                <input asp-for="DonationDate" class="form-control" />
                <span asp-validation-for="DonationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationType" class="control-label"></label>
                <input asp-for="DonationType" class="form-control" />
                <span asp-validation-for="DonationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationAmount" class="control-label"></label>
                <input asp-for="DonationAmount" class="form-control" />
                <span asp-validation-for="DonationAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorName" class="control-label"></label>
                <input asp-for="DonorName" class="form-control" />
                <span asp-validation-for="DonorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorIdnumber" class="control-label"></label>
                <input asp-for="DonorIdnumber" class="form-control" />
                <span asp-validation-for="DonorIdnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorTaxNumber" class="control-label"></label>
                <input asp-for="DonorTaxNumber" class="form-control" />
                <span asp-validation-for="DonorTaxNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorEmail" class="control-label"></label>
                <input asp-for="DonorEmail" class="form-control" />
                <span asp-validation-for="DonorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorPhone" class="control-label"></label>
                <input asp-for="DonorPhone" class="form-control" />
                <span asp-validation-for="DonorPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
